h1, h2 {
    font-family: 'Newsreader', serif;
}

footer a {
	color:#dfdddd;
}

#banner {
	background-image: url("../images/banniere.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 460px;
	
}

#banner h1 {
    color: white;
    text-align: center;
    padding-top: 1vh;
}