h1, h2 {
    font-family: 'Newsreader', serif;
}

footer a {
	color:#dfdddd;
}

a {
	cursor: pointer;
}

#banner {
	background-image: url("../images/banniere.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 460px;
	
}

#banner h1 {
    color: white;
    text-align: center;
    padding-top: 1vh;
}

#produits {
	display: flex;
	flex-wrap: wrap;
}

.affichage_produit img{
	width: 100%;
}

.prix_produit{
	font-weight: bold;
	font-size: 1.5em;
}
